<div class="header">
  <h1>Manage books</h1>
  <p>
    Here you can manage the books in our library. You can edit, or delete books
    as needed.
  </p>
</div>
<div class="book-list">
  <ng-container *ngFor="let book of books">
    <mat-card class="book-card">
      <ng-container *ngIf="editingBook?.id !== book.id; else editMode">
        <mat-card-title>{{ book.title }}</mat-card-title>
        <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
        <mat-card-content>
          <p>
            Availability: {{ book.available ? "Available" : "Not Available" }}
          </p>
          <!-- <p *ngIf="book.description">Description: {{ book.description }}</p> -->
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="startEditing(book)">
            Edit
          </button>
          <button
            mat-raised-button
            style="background-color: rgb(144, 6, 6); color: white"
            (click)="deleteBook(book.id)"
          >
            Delete
          </button>
        </mat-card-actions>
      </ng-container>

      <ng-template #editMode>
        <form (ngSubmit)="updateBook(editingBook)">
          <div class="form-group">
            <label for="editTitle-{{ book.id }}">Title</label>
            <input
              type="text"
              id="editTitle-{{ book.id }}"
              [(ngModel)]="editingBook.title"
              name="editTitle-{{ book.id }}"
              required
            />
          </div>
          <div class="form-group">
            <label for="editAuthor-{{ book.id }}">Author</label>
            <input
              type="text"
              id="editAuthor-{{ book.id }}"
              [(ngModel)]="editingBook.author"
              name="editAuthor-{{ book.id }}"
              required
            />
          </div>
          <div class="form-group">
            <label for="editDescription-{{ book.id }}">Description</label>
            <textarea
              id="editDescription-{{ book.id }}"
              [(ngModel)]="editingBook.description"
              name="editDescription-{{ book.id }}"
            ></textarea>
          </div>
          <div class="form-group availability-group">
            <label for="editAvailable-{{ book.id }}"
              >Number of Books Available</label
            >
            <input
              type="number"
              id="editAvailable-{{ book.id }}"
              [(ngModel)]="editingBook.available"
              name="editAvailable-{{ book.id }}"
              required
            />
          </div>
          <div class="button-row">
            <button type="submit" mat-raised-button color="primary">
              Save
            </button>
            <button type="button" mat-raised-button (click)="cancelEditing()">
              Cancel
            </button>
          </div>
        </form>
      </ng-template>
    </mat-card>
  </ng-container>
</div>
